<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xry.product.mapper.ProviderMapper">
    <cache eviction="LRU" readOnly="true" flushInterval="60000" size="512"></cache>
    
    <resultMap id="providerMap" type="provider">
      <result column="providerID" property="providerID"></result>
      <result column="provider_name" property="providerName"></result>
      <result column="provider_add" property="providerAdd"></result>
      <result column="provider_tel" property="providerTel"></result>
      <result column="account" property="account"></result>
      <result column="email" property="email"></result>
    </resultMap>




</mapper>